html,body{
 
   height:100%;
}

#container{
    width: 100%;
    height: 70%;
  
    display: flex;
    margin: 0 auto;
}


#network {
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
  
}
#container2{
    height:100%;
    width:50%;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

}
#mynetwork2{
    width:100%;
    height:100%;
}

#gen_graph{
    margin:auto;
    display:block;
}


#solve{
    margin:auto;
    display:block;


}


#distancemeter{
    width:200px;
    height:50px;
    border:2px solid black;
    background-color: black;
    color:red;
    font-size:25px;
    display:block;
    margin:auto;
    margin-top: 10px;
}






























